.container {
    box-sizing: border-box;
}
ul {
    padding-bottom: 60px;
}
body {
    margin-bottom: 50px;
    text-align: center;
}

a {
    color: black;
}

ul a:hover {
    color: black;
    font-size: larger;
    text-decoration: none;
}
